@font-face {
  font-family: Ubuntu;
  src: url("@/assets/webfonts/Ubuntu-C.ttf");
}

@font-face {
  font-family: "Volter Goldfish";
  src: url("@/assets/webfonts/volter_goldfish.ttf");
  font-weight: normal;
  font-style: normal;
}
